/dimacs-completion*.out
/SMT*
/Model*
*.o
/ezsmtPlus
/example_main
/libsat.a
/libezsmt.so
/tools/z3
/tools/cvc4
/tools/gringo
/tools/clingo
/tools/reify
*.preparsed
*.ground
libgringo.a
/libgringo4/src/input/groundtermgrammar.cc
/libgringo4/src/input/groundtermgrammar.hh
/libgringo4/src/input/groundtermgrammar.output
/libgringo4/src/input/groundtermlexer.hh
/libgringo4/src/input/location.hh
/libgringo4/src/input/nongroundgrammar.cc
/libgringo4/src/input/nongroundgrammar.hh
/libgringo4/src/input/nongroundgrammar.output
/libgringo4/src/input/nongroundlexer.hh
/libgringo4/src/input/position.hh
/libgringo4/src/input/stack.hh
