/dimacs-completion*.out
/SMT*
/Model*
*.o
/ezsmtPlus
/example_main
/libsat.a
/libezsmt.so
/tools/z3
/tools/cvc4
/tools/gringo
/tools/clingo
/tools/reify
*.preparsed
*.ground
libgringo.a
/libgringo4/src/groundtermgrammar.cc
/libgringo4/src/groundtermgrammar.hh
/libgringo4/src/groundtermgrammar.output
/libgringo4/src/groundtermlexer.hh
/libgringo4/src/location.hh
/libgringo4/src/nongroundgrammar.cc
/libgringo4/src/nongroundgrammar.hh
/libgringo4/src/nongroundgrammar.output
/libgringo4/src/nongroundlexer.hh
/libgringo4/src/position.hh
/libgringo4/src/stack.hh
